.wrapper__art-quiz {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #010101;
  color: #fff;
  font-family: Gilroy;
  font-weight: 500;
}

.wrapper__art-quiz .container {
  max-width: 1340px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.wrapper__art-quiz .container .header {
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
}

.wrapper__art-quiz .container .header .logo::before,
.wrapper__art-quiz .container .header .logo::after {
  border: 1px solid #fff;
  width: 62px;
  height: 62px;
  top: -7px;
  opacity: 0.5;
}

.wrapper__art-quiz .container .header .logo::before {
  left: -12px;
}

.wrapper__art-quiz .container .header .logo::after {
  left: 16px;
}

.wrapper__art-quiz .container .header .header__nav {
  display: flex;
  align-items: center;
}

.wrapper__art-quiz .container .header .header__nav .header__logo {
  position: relative;
  z-index: 1;
  margin: 0 120px 0 0;
  font-weight: 700;
  font-size: 42px;
  user-select: none;
}

.wrapper__art-quiz .container .header .header__nav .header__logo span {
  color: #FFBCA2;
}

.wrapper__art-quiz .container .header .header__nav .nav {
  display: flex;
  font-size: 22px;
}

.wrapper__art-quiz .container .header .header__nav .nav a {
  margin: 0 90px 0 0;
  transition: all .2s;
}

.wrapper__art-quiz .container .header .header__nav .nav a:hover {
  color: #FFBCA2;
}

.wrapper__art-quiz .container .header .header__nav .nav span {
  font-weight: 700;
  color: #FFBCA2;
}

.wrapper__art-quiz .container .header .settings {
  width: 40px;
  height: 40px;
  background: url("../../assets/svg/settings.svg") no-repeat center center;
  background-size: contain;
  opacity: 0.7;
  cursor: pointer;
  transition: all 0.4s;
}

.wrapper__art-quiz .container .header .settings:hover {
  opacity: 1;
}

.wrapper__art-quiz .container .main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 125px 0 99px 0;
  gap: 48px calc((1300px - 6*195px)/5);
}

.wrapper__art-quiz .container .main .category .category__title {
  display: flex;
  justify-content: space-between;
  margin: 0 0 10px 0;
  font-size: 20px;
}

.wrapper__art-quiz .container .main .category .category__title .category__score {
  color: #FFBCA2;
}

.wrapper__art-quiz .container .main .category .category__picture {
  width: 195px;
  height: 206px;
  cursor: pointer;
}

.wrapper__art-quiz .container .main .category .category__picture img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  filter: grayscale(100%);
  transition: all .4s;
}

.wrapper__art-quiz .container .main .category .category__picture:hover img {
  filter: none;
}

@media (max-width: 768px) {
  .wrapper__art-quiz .container .header .header__nav .header__logo {
    margin: 0 50px 0 0;
  }
  .wrapper__art-quiz .container .header .header__nav .nav {
    font-size: 18px;
  }
  .wrapper__art-quiz .container .header .header__nav .nav a {
    margin: 0 40px 0 0;
  }
  .wrapper__art-quiz .container .main .category .category__picture {
    width: 155px;
    height: 164px;
  }
}

@media (max-width: 425px) {
  .wrapper__art-quiz .container .header .header__nav .header__logo {
    margin: 0 30px 0 0;
  }
  .wrapper__art-quiz .container .header .header__nav .nav a {
    margin: 0 15px 0 0;
  }
  .wrapper__art-quiz .container .header .header__nav .nav span {
    display: none;
  }
  .wrapper__art-quiz .container .main {
    margin: 40px 0 0 0;
    gap: 30px calc(320px - 2*155px);
  }
  .wrapper__art-quiz .container .main .category .category__title {
    font-size: 14px;
  }
}
/*# sourceMappingURL=quiz.css.map */