.wrapper__pictures-game {
  background-color: #010101;
  font-family: Gilroy;
  color: #fff;
}

.wrapper__pictures-game .container {
  max-width: 866px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.wrapper__pictures-game .container .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 55px 0 0 0;
}

.wrapper__pictures-game .container .header .header__close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 18px;
  height: 18px;
  font-size: 22px;
}

.wrapper__pictures-game .container .header .header__time-line {
  height: 4px;
  width: 100%;
  margin: 0 20px;
  background-color: #a4a4a4;
}

.wrapper__pictures-game .container .header .header__time-line .header__progress {
  width: 0%;
  height: 100%;
  background-color: #FFBCA2;
}

.wrapper__pictures-game .container .header .header__time {
  font-size: 26px;
  font-weight: 700;
}

.wrapper__pictures-game .container .main {
  position: relative;
  margin: 0 0 19px 0;
}

.wrapper__pictures-game .container .main .main__question {
  font-size: 28px;
  font-weight: 700;
  margin: 68px 0 0 0;
}

.wrapper__pictures-game .container .main .main__pictures {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: calc(826px - 2*400px);
  margin: 64px 0 0 0;
}

.wrapper__pictures-game .container .main .main__pictures .main__picture {
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 400px;
  height: 280px;
  width: 100%;
  border-radius: 20px;
  cursor: pointer;
}

.wrapper__pictures-game .container .main .result__overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 2;
}

.wrapper__pictures-game .container .main .result__overlay .result {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  padding: 30px;
  margin: 0 auto;
  top: 149px;
  left: calc((100vw - 522px)/2);
  background-color: #fff;
  color: #010101;
  border-radius: 20px;
  font-size: 32px;
  font-weight: 500;
}

.wrapper__pictures-game .container .main .result__overlay .result .result__picture {
  -o-object-fit: cover;
     object-fit: cover;
  width: 462px;
  height: 416px;
  margin: 0 0 40px 0;
  border-radius: 20px;
}

.wrapper__pictures-game .container .main .result__overlay .result .result__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  width: 60px;
  height: 60px;
  top: 355px;
  left: 50px;
  border-radius: 50%;
  background-color: #3DDA69;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.wrapper__pictures-game .container .main .result__overlay .result .result__picture-name {
  width: 462px;
  word-wrap: break-word;
  text-align: center;
}

.wrapper__pictures-game .container .main .result__overlay .result .result__author {
  margin: 10px 0 36px 0;
  font-size: 22px;
  font-weight: 400;
  text-align: center;
}

.wrapper__pictures-game .container .main .result__overlay .result .result__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 400px;
  height: 62px;
  background-color: #FFBCA2;
  border-radius: 60px;
  font-size: 22px;
  cursor: pointer;
}

.wrapper__pictures-game .container .main .result__overlay .total {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  padding: 40px;
  top: 149px;
  left: 720px;
  background-color: #fff;
  color: #010101;
  border-radius: 20px;
  font-size: 42px;
  font-weight: 600;
}

.wrapper__pictures-game .container .main .result__overlay .total .total__icon {
  margin: 0 0 40px 0;
  width: 166px;
  height: 155px;
  background: url("../../assets/svg/cup.svg");
}

.wrapper__pictures-game .container .main .result__overlay .total .total__score {
  margin: 40px 0 60px 0;
  font-size: 82px;
  font-weight: bold;
}

.wrapper__pictures-game .container .main .result__overlay .total .total__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 400px;
  height: 62px;
  background-color: #FFBCA2;
  border-radius: 60px;
  color: #010101;
  font-size: 22px;
  font-weight: 500;
  cursor: pointer;
}

@media (max-width: 1024px) {
  .wrapper__pictures-game .container .main .main__pictures {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .wrapper__pictures-game .container .main .main__pictures .main__picture {
    width: 320px;
    height: 307px;
  }
}
/*# sourceMappingURL=pictures-game.css.map */